[id^="settings-factory"] {
    .window-content {
        gap: 0.5em;
    }
}

#settings-factory\.import-storage {
    .window-content .dialog-content {
        label {
            display: block;
            margin-bottom: 0.5em;

            input {
                margin-right: 0.3em;
            }

            .hint {
                font-style: italic;
                padding-inline: 0.3em;
            }
        }
    }
}

[id^="settings-factory.edit-storage"] {
    .window-content .dialog-content {
        label {
            display: flex;
            align-items: center;
            white-space: nowrap;
            gap: 0.5em;
        }
    }
}
